<ion-header>
  <ion-navbar>
    <ion-title>
      Fantasy Team Preview
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-row class ="margin-list-view"><span class="margin-list-view-span">Wicket-Keeper</span></ion-row>
    <ion-row class="list-view" >
        <ion-col *ngFor="let item1 of dummyJsonWicketKeeper">
            <ion-img class="list-img-width" src= "{{item1.img1}}" ></ion-img>
            <span class="list-view-player-name">{{item1.name}}</span>
            <span class="list-view-player-name">{{item1.playerpoints}}</span>
        </ion-col>
    </ion-row>
    <ion-row class ="margin-list-view"><span class="margin-list-view-span">BatsMan</span></ion-row>
  <ion-row class="list-view" >
      <ion-col *ngFor="let item1 of dummyJsonBatsMan">
          <ion-img class="list-img-width" src= "{{item1.img1}}" ></ion-img>
          <span class="list-view-player-name">{{item1.name}}</span>
            <span class="list-view-player-name">{{item1.playerpoints}}</span>
      </ion-col>
  </ion-row>
  <ion-row class ="margin-list-view"><span class="margin-list-view-span">All-Rounders</span></ion-row>
    <ion-row class="list-view" >
        <ion-col *ngFor="let item1 of dummyJsonAllRounder">
            <ion-img class="list-img-width" src= "{{item1.img1}}" ></ion-img>
            <span class="list-view-player-name">{{item1.name}}</span>
            <span class="list-view-player-name">{{item1.playerpoints}}</span>
        </ion-col>
    </ion-row>
    <ion-row class ="margin-list-view"><span class="margin-list-view-span">Bowler</span></ion-row>
    <ion-row class="list-view" >
        
        <!-- <div class="list-view-player-catagory">All-Rounders</div> -->
        <!-- <span class="">All-Rounders</span> -->
            <ion-col *ngFor="let item1 of dummyJsonBowler">
                <ion-img class="list-img-width" src= "{{item1.img1}}"></ion-img>
                <span class="list-view-player-name">{{item1.name}}</span>
            <span class="list-view-player-name">{{item1.playerpoints}}</span>
            </ion-col>
    </ion-row>
  <!-- <ion-row>
      <ion-img class="lobby-banner" src="../../assets/imgs/banner.png" width="auto" height="100px" ></ion-img>
  </ion-row>  
  <ion-row class="list-view" *ngFor="let item1 of dummyJson">
    <ion-col>
        <ion-img class="list-img-width" src= "{{item1.img1}}" width="auto" height="100px" ></ion-img>
    </ion-col>
    <ion-col>
        <ion-row class="list-content-label" justify-content-center>{{item1.label}}</ion-row>
        <ion-row class="list-content-timer" justify-content-center>{{item1.timeRemaining}}</ion-row>
    </ion-col>
    <ion-col>
        <ion-img class="list-img-width" src="{{item1.img2}}" width="auto" height="100px" ></ion-img>
    </ion-col>
  </ion-row> -->
</ion-content>

  

